<a href="https://colab.research.google.com/github/cacaocoffee/Python/blob/main/1201OSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

함수 (def)
---

In [ ]:
def add(a,b):
  return a+b

print(add(3,4))
print(add("안녕","세계"))

7
안녕세계

os.getcwd()
현재 디렉토리 위치 반환 하는 함수

In [ ]:
import os
os.getcwd()

'/content'

time.time() 현재 시간 알려주는 함수

In [ ]:
import time
time.time()

1638346207.7317173

입력값(매개변수)이 없는 함수와
결괏값이 없는함수

In [ ]:
def add(a, b):
  print("%d, %d의 합은 %d 입니다." %(a,b, a+b))

In [ ]:
add(3, 4)

3, 4의 합은 7 입니다.

In [ ]:
a = add( 1, 2)
print(a)
#return이 없는 함수를 받으면 None 값이들어간다.

1, 2의 합은 3 입니다.
None

In [ ]:
def add(a,b):
  return a+b

In [ ]:
result = add(a=3,b=4)
print(result)
result = add(b=9,a=4)
print(result)
#매개변수에 넣는 것에 대한 순서는 안지켜도됨

7
13

매개변수가 여러개일때는 
---
*로 한번에 받을 수 있음
입력값들을 전부 모아서 튜플로 변환 하게됨

In [ ]:
def add_many(*args):
  result = 0
  for i in args:
    result = result +i 
  return result

In [ ]:
print(add_many(1,2,3,4,5,6,7,8,9,100))

145

In [ ]:
def add_mul(c, *args):
  if c =="add":
    result = 0
    for i in args:
      result = result +i 
  elif c == "mul":
    result =1
    for i in args:
      result = result*i
  return result

In [ ]:
print(add_mul("add",1,2,3,4,5,6))
print(add_mul("mul",1,2,3,4,5,6))

21
720

kwargs 키워드가 있는 파라미터를 쓴다는 약속 **는 딕셔너리 형태


---


특정 상황에 빠져 나오기위해 return 을 해도된다.

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

In [ ]:
print_kwargs(age=24, name="김명석")

{'age': 24, 'name': '김명석'}

global 
---



global로 변수를 선언 함으로써 함수 바깥에도 사용가능한 전역변수로 선언가능 비추천

In [ ]:
def ab():
  global a
  a= a+1

In [ ]:
a=1
ab()
print(a)

2

lambda 함수
---

람다. def와 같은 역할 
lambda 매개변수1, 매개변수2, ...: 매개변수 표현식 

---



시험엔안낼거야

In [ ]:
add = lambda a,b: a+b
result = add(3,4)
print(result)

7

사용자 입력(input)
---

출력은print


---

In [ ]:
a= input()
a

What doesn;t kill you , make you stronger

'What doesn;t kill you , make you stronger'

In [ ]:
number=input()
print(type(number))
#무조건 스트링형이기에 int 형으로 바꾸려면
n=int(number)
print(type(n))

1
<class 'str'>
<class 'int'>

In [ ]:
#출력
print("what ""doesn't")
print("kill"+"you")
#둘이 같이 붙어서 나옴
a= "Life"
b="is"
c="too"
d= "short"

print(a+b+c+d)
print(a,b,c,d)

what doesn't
killyou
Lifeistooshort
Life is too short

print 를 살펴보면 flush = flase로 되있는데 buffer가 꽉차야 출력이다

In [ ]:
for i in range(10):
  print(i,end=' ')
for i in range(10):
  print(i)

0 1 2 3 4 5 6 7 8 9 0
1
2
3
4
5
6
7
8
9

파일
---
open 열기 없을 시 생성됨


rwa사용 권한
a는 파일 뒤에 내용 추가


쓰기모드로 열었을 경우 해당 파일의 내용이 사라지고 아예 새로쓴 내용만 들어간다.


open(이름 , 권한)

C와 JAVA 처럼  close 를 해줘도 되지만 파이썬은 자체적으로 닫아주기에 신경을 안써도 된다. 
그러나 직접 닫아줘라 왜냐면 다시사용하려고 open시 오류 발생이 가능하기 때문

In [ ]:
f = open("새파일.txt", 'w')
for i in range(1,11):
  data = "%d번쨰 줄입니다.\n" % i
  f.write(data)
f.close()

readline 한줄 읽기

읽을 줄이 없을경우만 none 출력

In [ ]:
f = open("새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번쨰 줄입니다.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# realine_all.py
f = open("C:\newfile.txt", 'r')
while True:
  line = f.readline()
  if not line: break
  print(line, end='')
f.close()

1번쨰 줄입니다.
2번쨰 줄입니다.
3번쨰 줄입니다.
4번쨰 줄입니다.
5번쨰 줄입니다.
6번쨰 줄입니다.
7번쨰 줄입니다.
8번쨰 줄입니다.
9번쨰 줄입니다.
10번쨰 줄입니다.

readlines 함수


모든 텍스트를 각 줄에 대한 리스트로 돌려준다.

예시) ["1번쨰 줄입니다", "2번째 "~]

In [ ]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

왼쪽에 폴더 클릭해서 파일을 찾아볼수 있다. content에 들어있음

read 함수 
===

파일 전체를 한줄로 출력

In [ ]:
 f= open("새파일.txt",'r')
 data = f.read()
 print(data)
 f.close()

1번쨰 줄입니다.
2번쨰 줄입니다.
3번쨰 줄입니다.
4번쨰 줄입니다.
5번쨰 줄입니다.
6번쨰 줄입니다.
7번쨰 줄입니다.
8번쨰 줄입니다.
9번쨰 줄입니다.
10번쨰 줄입니다.

In [ ]:
f = open("새파일.txt",'a')
for i in range(11,20):
  data= "%d 번째 줄입니다.\n" %i
  f.write(data)
f.close()

with 문
===

with 문을 사용하면 with 블록을 벗어나는 순간 열린 파일이 자동으로 close된다.

In [ ]:
with open("foo.txt", "w") as f:
  f.write("what doesn't kill you makes you stronger")

C나 JAVA에서 인자를 어떻게 받는가?

명령프롬프트 창에서 어떻게 인수를 받는가

import sys 를 가져와서

args = sys.argv[1:]

for i in args:

  print(i)

이렇게 하면됨

클래스
===

개발자가 본인만의 자료형을 만들고 싶을때 class를 만든다고 볼 수 있다.

객체는 달고나라면 클래스는 달고나 틀이다

객체(object)와 인스턴스의 차이

클래스로 만든 객체를 인스턴스라고한다.

In [ ]:
 class Calculator:
  def __init__(self):
     self.result = 0

  def add(self,num):
    self.result +=num
    return self.result

  def sub(self,num):
    self.result -=num
    return self.result

In [ ]:
cal1 = Calculator()
cal2 = Calculator()

In [ ]:
str = ' A B c d' #string 클래스
print(str.lower())
print(str.upper())
print(str.lstrip())
print(str.rstrip())

 a b c d
 A B C D
A B c d
 A B c d

In [ ]:
def mul(a =1, b=1):
  res = a*b

In [ ]:
print(mul())

None

In [1]:
class FourCal:
  def setdata(self,first,second):
    self.first=first
    self.second = second

In [2]:
a =FourCal()
a.setdata(1,2) # self는 a.같은 객체를 불러주는 매개변수

self매개변수는 함수를 호출한 객체를 자동으로 전달하기 때문이다.
위에서의 경우엔 a. 이 self에 들어갔다.

In [3]:
b=FourCal()
FourCal.setdata(b,4,2)

위와 같은 코드이나 결국 위 방식이 편리

In [6]:
print(a.first)
print(b.first)

1
4

In [7]:
class FourCal:
  def setdata(self,first,second):
    self.first=first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

In [8]:
a =FourCal()
a.setdata(1,2)
print(a.add())

3

생성자
---

#__init__

In [9]:
class FourCal:
  def __init__(self,first,second):
    self.first=first
    self.second = second
  def setdata(self,first,second):
    self.first=first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

In [11]:
#c =FourCal()
c =FourCal(1,3)

상속
---

In [12]:
class More(FourCal):
  pass

In [13]:
a=More(1,4)
print(a.add())

5

In [14]:
# ** 제곱연산자
2**3

8