<a href="https://colab.research.google.com/github/cacaocoffee/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

숫자 %d 
스트링 %s

In [9]:
"I have %s apples" % 3
#%s는 어떤 타입이든 다받을 수 있다.

'I have 3 apples'

In [12]:
"I ate %d apples. so i was sick for %s day" % (3.234 , 5) #변수 이름을 넣어도됨

'I ate 3 apples. so i was sick for 5 day'

In [14]:
"%-10s %10s %0.4f %10.4f" %("왼쪽 정렬", "오른쪽 정렬" , 3.141592 , 3.14159265)

'왼쪽 정렬          오른쪽 정렬 3.1416     3.1416'

format 함수를 사용한 포메팅

In [15]:
"I eat {0} apples ".format(3) # 0번째 값

'I eat 3 apples '

In [19]:
num= 3
day= "therr"
"I ate {0} apples. so i was sick for {1} day".format(num, day)

'I ate 3 apples. so i was sick for therr day'

In [20]:
"I ate {num} apples. so i was sick for {day} day".format(num=15, day=3)

'I ate 15 apples. so i was sick for 3 day'

왼쪽 정렬 {0:<10}
오른쪽 정렬 {0:>10}
가운데 정렬 {0:^10}

In [22]:
"{0:=^10}".format("HI")# 정렬 사이에 문자를 넣는데로 채워짐

'====HI===='

In [24]:
"{0:10.4f}".format(3.1415926535) #소수점 표현은 일케  10은 정렬을 위해

'    3.1416'

In [26]:
"{{and}}".format()#포메팅시 문자열 그대로 하려면 {{}} 이렇게 그대로 사용해야한다.

'{and}'

In [37]:
name = '명석'
age = 23
f"나의 이름은 {name}입니다. 나이는 {age+1} 입니다." #이렇게 포맨팅을 할수 있다

'나의 이름은 명석입니다. 나이는 24 입니다.'

In [39]:
d = {'name':'명석' ,'age':24}
f"나의 이름은 {d['name']}입니다. 나이는 {d['age']} 입니다." #딕셔너리 사용법

'나의 이름은 명석입니다. 나이는 24 입니다.'

In [42]:
f'{"hi":<10} {"i am":~>10} {"명석":!^10}'

'hi         ~~~~~~i am !!!!명석!!!!'

문자열 세는 함수 count

In [46]:
a = "hobby"
a.count('b')

2

In [48]:
a.find('y')#처음 나온위치 없으면 -1

4

In [49]:
a.index('b') # find와 같지만 얜 없으면 오류나와

2

Upper lower 소문자 대문자 전환

In [7]:
a = "hi"
a.upper()
b= "IM"
b.lower()
print(a,b)

hi IM

문자열 바꾸기 (replace)

In [1]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

문자열 나누기(split)

In [4]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [3]:
b= "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

리스트 자료형  List

In [50]:
odd = [1, 2 ,3]
odd[-1]

3

In [53]:
a = [1,2,['a','b',['하나']]]

print(a[ 2][2][0])

'하나'

In [58]:
a[2][0]

'a'

In [59]:
a = [1,2,3,['a','b','c '],4,5]
a[2:5]

[3, ['a', 'b', 'c '], 4]

In [60]:
a[3][:2]

['a', 'b']

In [76]:
b= [10,11,12]
a+b

[1, 2, 3, ['a', 'b', 'c '], 4, 5, 10, 11, 12]

In [63]:
a *3 # a[2] + "hi"는 허용 안됨 3은 숫자라서 str(a[2]) 이렇게 스트링 형태로 바꿔줘야함

[1,
 2,
 3,
 ['a', 'b', 'c '],
 4,
 5,
 1,
 2,
 3,
 ['a', 'b', 'c '],
 4,
 5,
 1,
 2,
 3,
 ['a', 'b', 'c '],
 4,
 5]

In [77]:
b[2] =3
b

[10, 11, 3]

In [78]:
del b[1]
b

[10, 3]

In [79]:
b.append(4)
b

[10, 3, 4]

In [80]:
b.append([5,6])

In [81]:
b

[10, 3, 4, [5, 6]]

정렬 sort()

In [83]:
b= [2,4,1]
b.sort()
b

[1, 2, 4]

In [84]:
b.reverse()#뒤집기
b

[4, 2, 1]

In [85]:
b.index(1) #index도 존재함

2

In [87]:
b.insert(0,4) # 0번째 위치에 4 삽입
b

[4, 4, 4, 2, 1]

In [88]:
b.remove(4) # 처음으로 나온 4를 없앰
b

[4, 4, 2, 1]

In [89]:
b.pop()#가장 마지막에 들어간 것이 나옴 맨 마지막에 있느 ㄴ1이나옴 
print(b)

[4, 4, 2]

In [90]:
print(b.pop()) # pop()안에 숫자를 넣을 시 해당 인덱스에 있는게 나옴

2

In [91]:
#리스트 확장 extend(x) x에는 index만 올수 있으며 원래 a에 x를 더하게된다.
a = [1,2,3]
a.extend([4,5])

In [92]:
print(a)

[1, 2, 3, 4, 5]

튜플(tuple) 은 순서 쌍 이라고 생각하면됨 
리스트는 [] 튜플은 () 
튜플은 값을 바꿀수 없음 
요소 하나를 사용할떈 ,를 붙여야함 ex) t1 =(1,)

In [93]:
a = (1,)#튜플이라는 것을 알려주기위해 ,를 사용하는 것
a

(1,)

In [94]:
a = (1) #은 a=1과 똑같다
a

1

In [95]:
str= 'Python'
str[1] =2  #이처럼 string에서 실행 안되듯 tuple에서도 안된다.

TypeError: ignored

In [96]:
t1 = (1,2,3)
print(t1[1:]) #새로운 튜플을 만들었다

(2, 3)

In [97]:
t2 = (3,4)
t1 + t2

(1, 2, 3, 3, 4)

In [103]:
print(t2*2)
print(len(t2)) #길이 구하는 함수
t2 +(4,) # append 도 없음 
print(t2)
t3 = t2+(4,)
print(t3)# 이렇게 새로운 것으로 생성됨 복사해서 생성 된느낌

(3, 4, 3, 4)
2
(3, 4)
(3, 4, 4)

딕셔너리 자료형 
key값엔 변하지 않는 자료 사용 

---
예전엔 key값 value값 이따로있음 이 비효율적인 것을 해결하기 위해 사용 되는 자료형 hashing 함수로 찾는다.

ex) '이름'= '홍길동'

In [104]:
dic = {'name':'pey', 'phone':'0102121'}
dic['name']

'pey'

In [106]:
dic2 = {'a' : [1,2,3]}
print(dic2)
print(dic2['a'])
print(dic2['a'][1])

{'a': [1, 2, 3]}
[1, 2, 3]
2

딕셔너리 쌍 추가, 삭제

In [107]:
a ={1:'a'}
a[2] = 'b' # {2:b}쌍 추가 리스트도 추가가능 
a

{1: 'a', 2: 'b'}

In [108]:
del a[1] # key가 1인 key:value 쌍이 삭제됨
a

{2: 'b'}